body{
	margin:0;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	line-height:1.5;
	font-family:Consolas,Ubuntu Mono,Menlo,Monospace;
}
a{
	text-decoration:none;
}
th,td{
	text-align:left;
	vertical-align:top;
	padding:0.3rem;
	border-top:1px solid;
}
table{
	border-collapse:collapse;
	width:100%;
	margin-bottom:1rem;
}
span.pkgtag{
	font-size:0.8em;
}
span.pkgtag-leaf{
	color:#fff;
	background-color:#555;
}
span.pkgtag-rotten{
	color:lightyellow;
	background-color:darkred;
}
span.pkgtag-rotten:hover{
	color:darkred;
	background-color:lightyellow;
}
span.pkgtag-patched{
	color:lightgreen;
	background-color:slateblue;
}
span.pkgtag-patched:hover{
	color:slateblue;
	background-color:lightgreen;
}
span.subreqtime{
	font-size:0.8em;
}
tr.expand{
	font-size:0.8em;
}
td.expand{
	border-top-style:dashed;
}
td.expand-pre{
	border-top-style:dotted;
	padding-left:2%;
}
@media(prefers-color-scheme:light){
	body,
	.table{
		color:#333;
		background-color:#eee;
	}
	a{
		color:royalblue;
	}
	a:hover{
		color:blueviolet;
	}
	th,td{
		border-top-color:#888;
	}
	tr.pkgwork-add{
		background-color:lightpink;
	}
	tr.pkgwork-pr,
	tr.pkgwork-prrm,
	tr.pkgmark-upstreamed{
		background-color:lightblue;
	}
	tr.pkgmark-ready,
	tr.pkgmark-pending,
	tr.pkgmark-noqemu{
		background-color:lightgreen;
	}
	tr.pkgmark-failing{
	}
	tr.pkgmark-outdated,
	tr.pkgmark-outdated_dep,
	tr.pkgmark-missing_dep,
	tr.pkgmark-ignore,
	tr.pkgmark-stuck{
		background-color:lightgray;
	}
	tr.pkgmark-unknown{
		background-color:khaki;
	}
	tr.pkgmark-nocheck{
		background-color:lightgoldenrodyellow;
	}
	tr.pkgmark-flaky{
		background-color:lightsteelblue;
	}
	span.pkgmark-noqemu{
		background-color:gold;
	}
}
@media(prefers-color-scheme:dark){
	body,
	.table{
		color:white;
		background-color:#333;
	}
	a{
		color:cyan;
	}
	a:hover{
		color:gold;
	}
	th,td{
		border-top-color:white;
	}
	tr.pkgwork-add{
		background-color:mediumvioletred;
	}
	tr.pkgwork-pr,
	tr.pkgwork-prrm,
	tr.pkgmark-upstreamed{
		background-color:blueviolet;
	}
	tr.pkgmark-ready,
	tr.pkgmark-pending,
	tr.pkgmark-noqemu{
		background-color:olivedrab;
	}
	tr.pkgmark-failing{
	}
	tr.pkgmark-outdated,
	tr.pkgmark-outdated_dep,
	tr.pkgmark-missing_dep,
	tr.pkgmark-ignore,
	tr.pkgmark-stuck{
		background-color:gray;
	}
	tr.pkgmark-unknown{
		background-color:chocolate;
	}
	tr.pkgmark-nocheck{
		background-color:darkgoldenrod;
	}
	tr.pkgmark-flaky{
		background-color:darkcyan;
	}
	span.pkgmark-noqemu{
		background-color:red;
	}
}

